.content-overlay-panel {
    &__wrapper {
        background: $primary-color;
        padding: 0 0 60px 0;

        @include breakpoint(smalldesktop) {
            padding: 0 40px 90px 40px;
        }

        @include breakpoint(largedesktop) {
            padding: 0 40px 120px 40px;
        }

        @include breakpoint(xlargedesktop) {
            padding: 0 0 120px 0;
        }
    }

    &__container {
        max-width: $inner-site-width;
        margin: 0 auto;
        position: relative;
    }

    &__text-wrapper {
        background: white;
        padding: 50px 40px;
        
        @include breakpoint(smalldesktop) {
            max-width: 682px;
            padding: 50px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        @include breakpoint(desktop) {
            padding: 60px;
        }

        @include breakpoint(largedesktop) {
            padding: 80px;
        }
    }

    &__heading {
        margin-top: 18px;
    }

    &__paragraph {
        margin: 28px 0 0;
    }

    &__image-wrapper {
        padding: 0 40px;

        @include breakpoint(largedesktop) {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__image-with-text {

        @include breakpoint(smalldesktop) {
            padding: 0 0 0 122px;
        }

        .content-overlay-panel__image {
            max-width: 1281px;
        }
    }

    &__image {
        width: 100%;
        display: block;
    }
}
