.contact-form {
    &__wrapper {
        max-width: 560px;
        margin: 0 auto;
        padding: 80px 40px;

        @include breakpoint(smalldesktop) {
            padding: 125px 0 106px;
        }
    }

    &__heading {
        text-align: center;
    }

    &__form-wrapper {
        padding-top: 35px;

        @include breakpoint(smalldesktop) {
            padding-top: 70px;
        }

        .wpforms-submit {
            background-color: transparent !important;
            border: none !important;
            color: $heading-font-color !important;
            font-size: em(18) !important;
            line-height: 26px !important;
            letter-spacing: 1.5px !important;
            padding: 24px 50px 0 !important;

            &:hover,
            &:focus {
                color: $secondary-color !important;
            }
        }

        .wpforms-field-large {
            border: none !important;
            border-bottom: 2px solid $form-border-color !important;
            font-family: $secondary-font-family;
            padding: 15px 0 25px !important;
            color: $heading-font-color !important;
        }

        .wpforms-error {
            font-family: $secondary-font-family;
            padding-top: 15px !important;
        }
    }
}
