#navbar-js {
    // overflow: hidden;
    background: white;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.3);
    transition: 0.4s;
    // position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.header {

    &__container {
        display: flex;
        max-width: $site-width;
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        min-height: 75px;
        justify-content: flex-end;
        padding: 0 40px;

        @include breakpoint(xlargedesktop) {
            padding: 0;
        }
    }

    &__logo-img {
        width: 100%;
        max-width: 194px;
        margin: 28px;
        color: white;
        display: none;
        visibility: hidden;
        
        @include breakpoint(smalldesktop) {
            display: block;
            visibility: visible;
            margin: 0 80px 0 0;
            vertical-align: bottom;
            max-height: 119px;
        }
    }
    
    &__nav {
        display: none;
        visibility: hidden;

        @include breakpoint(smalldesktop) {
            visibility: visible;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        &--link {
            color: $quaternary-color;
            font-size: em(24);
            letter-spacing: 1.8px;
            font-family: $secondary-font-family;
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
            position: relative;
            margin: 0 18px 25px;
            display: block;
            width: fit-content;

            @include breakpoint(smalldesktop) {
                display: flex;
                font-size: em(16);
                letter-spacing: 1.28px;
                margin: 0 18px;
                color: white;
            }
            
            @include breakpoint(desktop) {
                margin: 0 25px;
                font-size: em(17);
            }

            @include breakpoint(largedesktop) {
                margin: 0 35px;
            }

            &:hover,
            &:focus,
            &:active {
                &:after {
                    width: 100%;
                }
            }

            &:after {
                content: '';
                position: absolute;
                left: 0; 
                bottom: -7px;
                height: 2px;
                background-color: $secondary-color;
                width: 0;
                transition: 
                width .5s;
            }

            &:hover + .header__dropdown--wrapper,
            &:focus + .header__dropdown--wrapper {
                @include breakpoint(smalldesktop) {
                    visibility: visible;
                    opacity: 1;
                    transition-delay: 0s; /* react immediately on hover */
                }
            }

            &.active + .header__dropdown--wrapper { 
                height: auto;
                visibility: visible;
                opacity: 1;
                transition-delay: 0s; /* react immediately on hover */
                padding: 0 50px 40px;

                @include breakpoint(smalldesktop) {
                    padding: 30px;
                }
            }
        }
    }

    &__dropdown {

        &--wrapper {
            height: 0;
            padding: 0;
            display: block;
            position: relative;

            @include breakpoint(smalldesktop) {
                height: auto;
                padding: 30px;
                display: flex;
                position: absolute; 
                top: 121px; 
                left: 0;
                background: white;
            }

            @include breakpoint(largedesktop) {
                left: 50%;
                transform: translateX(-50%);
            }

            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
            transition: 0.2s 1s; /* delay of 1 seconds on hover off */

            /* prevent users from showing submenu when hovering hidden element */
            pointer-events: none !important;

            /* sub elements can be hovered */
            & > * {
                pointer-events: auto;
            }

            /* show submenu when trigger or menu itself is hovered */
            &:hover,
            &:focus {
                opacity: 1;
                transition-delay: 0s;
                visibility: visible;
            }
        }

        &--container {
            position: relative;
            margin-right: 30px;
            
            @include breakpoint(smalldesktop) {
                background: $quaternary-color;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &--link {
            width: fit-content;
            text-decoration: none;

            &:hover,
            &:focus {
                .header__dropdown--image {
                    opacity: 0.2;
                }
            }
        }

        &--text {
            color: $quaternary-color;
            text-decoration: none;
            text-align: left;
            font-family: $secondary-font-family;
            font-size: em(18);
            line-height: 25px;
            letter-spacing: 1.35px;
            -webkit-font-smoothing: antialiased;
            opacity: 1;
            padding-top: 20px;

            @include breakpoint(smalldesktop) {
                font-family: $heading-font-family;
                color: white;
                position: absolute;
                letter-spacing: 1.8px;
                font-size: em(20);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }

            @include breakpoint(largedesktop) {
                font-size: em(24);
                line-height: 30px;
            }
        }

        &--image {
            display: none;
            visibility: hidden;

            @include breakpoint(smalldesktop) {
                display: block;
                visibility: visible;
                width: 100%;
                max-width: 224px;
                transition: ease 1s;
            }

            @include breakpoint(largedesktop) {
                min-width: 224px;
            }
        }
    }

    &__social {
        width: 100%;
        max-width: 110px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 99;

        &--icon {
            width: 20px;
            height: 20px;
            color: $secondary-color;
        }
    }
}


body:not(.page-template-frontpage) {
    .header {
        background: white;

        &__container {
            margin-top: 0;
            position: relative;
        }

        &__logo-img,
        &__nav--link {
            color: $quaternary-color;
        }

        &__nav--link.active {
            color: $secondary-color;
        }

        &__dropdown--wrapper {
            @include breakpoint(smalldesktop) {
                box-shadow: 0px 0px 5px 0px grey;
            }
        }
    }
}


/* styles only for mobile and tablet when menu is a hamburger */
.nav__hamburger-icon {
    display: inline-block;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    top: 22px;
    left: 25px;

    &::before {
        content: "Menu";
        position: absolute;
        top: 8px;
        left: 52px;
        font-family: $secondary-font-family;
        letter-spacing: 0.9px;
        font-size: em(14);
        color: $secondary-color;
        text-transform: uppercase;
    }

    .hamburger-bar1, 
    .hamburger-bar2, 
    .hamburger-bar3 {
        width: 30px;
        height: 2px;
        background-color: $secondary-color;
        margin: 6px 0;
        transition: 0.4s;
    }

    @include breakpoint(smalldesktop) {
        display: none;
        visibility: hidden;
    }
}

 /* style the hamburger menu icon to transition into a cross when clicked */

.nav__open {

    &::before {
        content: "Close";
        position: absolute;
        top: 8px;
        left: 52px;
        font-family: $secondary-color;
        letter-spacing: 0.9px;
        font-size: em(14);
        color: $secondary-color;
        text-transform: uppercase;

        animation-name: fadein;
        animation-duration: 2s;
        opacity: 1;
        
        @keyframes fadein {
            from {opacity: 0;}
        }
    }

    .hamburger-bar1, 
    .hamburger-bar2, 
    .hamburger-bar3 {
        background-color: $secondary-color;
    }

  .hamburger-bar1 {
    transform: rotate(-45deg) translate(-8px, 4px);
  }

  .hamburger-bar2 { opacity: 0; }

  .hamburger-bar3 {
    transform: rotate(45deg) translate(-6px, -4px);
  }  
}

 /* inside the hamburger menu once opened */
.nav__open + .header__nav {
  display: block;
  visibility: visible;
  background: $primary-color;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: slidein;
  animation-duration: 0.3s;
  width: 100%;
  height: 100vh;
  z-index: 99;
  opacity: 1;
  padding: 90px 10px;

  @keyframes slidein {
    from {left: -100%;}
  }

  &--link {
    display: block;
  }
}


.header__nav--link.active {
    color: $secondary-color;

    &:after {
        content: '';
        position: absolute;
        left: 0; 
        bottom: -7px;
        height: 2px;
        background-color: $secondary-color;
        width: 0;
        transition: 
        width .5s;
    }
}