.intro-panel {
    &__wrapper {
        background: $primary-color;
    }

    &__container {
        text-align: center;
        padding: 50px 40px;

        @include breakpoint(smalldesktop) {
            padding: 80px 40px;
        }
    }

    &__heading {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 16px;
        max-width: 800px;
        margin: 0 auto;

        &:after {
            content: '';
            position: absolute;
            bottom: -7px;
            height: 2px;
            background-color: $secondary-color;
            width: 48px;
        }
    }

    &__paragraph {
        padding-top: 50px;
        max-width: 704px;
        margin: 0 auto;
    }
}
